<div class="container" style="background-color: #2c45d463">

    <div class="row">
        <div class="row col-8 col-md-8 col-sm-8">
            <div class="row row-cols-lg-8 row-cols-md-8 row-cols-1 g-4 d-none d-md-block">
                <header class="letras3">
                    <h3>💰 ¡¡ Cotización de divisas !! 💰</h3>
                </header>
                <div class="contenedor-tabla">
                    <table class="table table-bordered table-light table-striped">

                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col"><img src="../../../../assets/imagen/usd.png" height="35"
                                        width="35"><br>USD</th>
                                <th scope="col"><img src="../../../../assets/imagen/eur.png" height="35"
                                        width="35"><br>EUR</th>
                                <th scope="col"><img src="../../../../assets/imagen/gbp.png" height="35"
                                        width="35"><br>GBP</th>
                                <th scope="col"><img src="../../../../assets/imagen/jpy.png" height="35"
                                        width="35"><br>JPY</th>
                                <th scope="col"><img src="../../../../assets/imagen/cny.png" height="35"
                                        width="35"><br>CNY</th>
                                <th scope="col"><img src="../../../../assets/imagen/aud.png" height="35"
                                        width="35"><br>AUD</th>
                                <th scope="col"><img src="../../../../assets/imagen/btc.png" height="35"
                                        width="35"><br>BTC</th>
                                <th scope="col"><img src="../../../../assets/imagen/arg.png" height="35"
                                        width="40"><br>ARS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let div of divisass">
                                <th><img src="../../../../assets/imagen/{{div.img}}" height="30" width="30"> <br>
                                    {{div.nom}} <br> {{div.nom1}} </th>
                                <td>{{div.USD}}<br>{{div.USD1}}</td>
                                <td>{{div.EUR}}<br>{{div.EUR2}}</td>
                                <td>{{div.GBP}}<br>{{div.GBP3}}</td>
                                <td>{{div.JPY}}<br>{{div.JPY4}}</td>
                                <td>{{div.CNY}}<br>{{div.CNY5}}</td>
                                <td>{{div.AUD}}<br>{{div.AUD6}}</td>
                                <td>{{div.BTC}}<br>{{div.BTC7}}</td>
                                <td>{{div.ARS}}<br>{{div.ARS8}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-sm-12">
            <aside>
                <br>
                <div class="formulario">
                    <div class="letra3">
                        <h3>Conversor De Divisas</h3>
                        <br>
                    </div>
                    <form class="row g-4" #transaccionForm="ngForm">
                        <div class="d-grid gap-2 col-md-10 mx-auto">
                            <label for="cantidadOrigen" class="form-label">Cantidad Origen:</label>
                            <input placeholder="Ingrese cantidad a convertir" id="cantidadOrigen" type="number"
                                class="form-control" [(ngModel)]="transaccion.cantidadOrigen" name="cantidadOrigen"
                                required #cantidadOrigen="ngModel">

                            <div *ngIf="cantidadOrigen.invalid && (cantidadOrigen.dirty || cantidadOrigen.touched)"
                                class="alert alert-danger">
                                <div *ngIf="cantidadOrigen.errors?.['required']">
                                    Cantidad Origen es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-md-10 mx-auto">
                            <label for="monedaOrigen" class="form-label">Moneda Origen:</label>
                            <select class="form-select" id="monedaOrigen" [(ngModel)]="transaccion.monedaOrigen"
                                name="monedaOrigen" required #monedaOrigen="ngModel" placeholder="Seleccione">
                                <option selected>Seleccione: </option>
                                <option value="USD">USD Dolares EEUU</option>
                                <option value="EUR">EUR Euro</option>
                                <option value="GBP">GBP Libra Esterlina</option>
                                <option value="RUB">RUB Rublo ruso</option>
                                <option value="JPY">JPY Yen</option>
                                <option value="CNY">CNY Yuan Renminbi</option>
                                <option value="AUD">AUD Dólar australiano</option>
                                <option value="BTC">BTC Bitcoin</option>
                                <option value="ARS">ARS Peso argentino</option>
                            </select>
                            <div *ngIf="monedaOrigen.invalid && (monedaOrigen.dirty || monedaOrigen.touched)"
                                class="alert alert-danger">
                                <div *ngIf="monedaOrigen.errors?.['required']">
                                    Seleccione una categoria Modena Origen es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-md-10 mx-auto">
                            <label for="monedaDestino" class="form-label">Moneda Destino: </label>
                            <select class="form-select" id="monedaDestino" [(ngModel)]="transaccion.monedaDestino"
                                name="monedaDestino" required #monedaDestino="ngModel">
                                <option selected>Seleccione: </option>
                                <option value="USD">USD Dolares EEUU</option>
                                <option value="EUR">EUR Euro</option>
                                <option value="GBP">GBP Libra Esterlina</option>
                                <option value="RUB">RUB Rublo ruso</option>
                                <option value="JPY">JPY Yen</option>
                                <option value="CNY">CNY Yuan Renminbi</option>
                                <option value="AUD">AUD Dólar australiano</option>
                                <option value="BTC">BTC Bitcoin</option>
                                <option value="ARS">ARS Peso argentino</option>
                            </select>
                            <div *ngIf="monedaDestino.invalid && (monedaDestino.dirty || monedaDestino.touched)"
                                class="alert alert-danger">
                                <div *ngIf="monedaDestino.errors?.['required']">
                                    Seleccione una categoria Modena Destino es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 col-md-10 mx-auto">
                            <label for="emailCliente" class="form-label">Email Cliente:</label>
                            <input placeholder="Ingrese email" id="emailCliente" type="email" class="form-control"
                                [(ngModel)]="transaccion.emailCliente" name="emailCliente" required
                                #emailCliente="ngModel">

                            <div *ngIf="emailCliente.invalid && (emailCliente.dirty || emailCliente.touched)"
                                class="alert alert-danger">
                                <div *ngIf="emailCliente.errors?.['required']">
                                    Email Cliente: es requerido.
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 col-md-10 mx-auto">
                            <label for="tasaConversion" class="form-label">Tasa de Conversion:</label>
                            <input id="tasaConversion" type="number" class="form-control"
                                [(ngModel)]="transaccion.tasaConversion" name="tasaConversion" required
                                #tasaConversion="ngModel" disabled>
                            <!--
                            <div *ngIf="tasaConversion.invalid && (tasaConversion.dirty || tasaConversion.touched)"
                                class="alert alert-danger">
                                <div *ngIf="tasaConversion.errors?.['required']">
                                    Tasa de Conversion: es requerido.
                                </div>
                            </div>-->
                        </div>
                        <div class="d-grid gap-2 col-md-10 mx-auto">
                            <label for="cantidadDestino" class="form-label">Conversion Cantidad Destino: </label>
                            <input class="form-control" [(ngModel)]="transaccion.cantidadDestino" name="cantidadDestino"
                                disabled>
                        </div>
                        <div class="d-grid gap-2 col-md-10 mx-auto">
                            <label for="cantidadDestino" class="form-label">Conversion Tasa: </label>
                            <input class="form-control" placeholder="{{tasaConver}}" disabled>
                        </div>

                        <div class="form-group pt-5">
                            <button type="button" [disabled]="transaccionForm.invalid"
                                (click)="obtenerCotizacionDivisa()" class="btn btn-warning w-50">Convertir --- >
                            </button>
                            <button type="button" (click)="volver()" class="btn btn-success w-50">Volver a la Lista
                            </button>
                            <button type="button" [disabled]="transaccionForm.invalid" (click)="guardarTransaccion()"
                                class="btn btn-danger text-white w-100">Guardar Transaccion
                            </button>
                        </div>
                    </form>
                </div>
            </aside>
        </div>
    </div>
</div>