<div class="container" style="background-color: #2c45d463">
    <br>
    <div class="row">
        <h3 class="col-12 text-center text-danger text-decoration-underline" style="font-weight: bold;">Listado De
            Transaccion</h3>
    </div>
    <br><br>
    <div class="d-flex mb-3 justify-content-between-fill">
        <form class="d-flex col-6">
            <select class="form-select me-2" [(ngModel)]="monedaOrigenFiltrar" id="monedaOrigen"
                [(ngModel)]="transaccion.monedaOrigen" name="monedaOrigen" placeholder="Seleccione">
                <option value="">Seleccione: </option>
                <option value="USD">USD Dolares EEUU</option>
                <option value="EUR">EUR Euro</option>
                <option value="GBP">GBP Libra Esterlina</option>
                <option value="RUB">RUB Rublo ruso</option>
                <option value="JPY">JPY Yen</option>
                <option value="CNY">CNY Yuan Renminbi</option>
                <option value="AUD">AUD Dólar australiano</option>
                <option value="BTC">BTC Bitcoin</option>
                <option value="ARS">ARS Peso argentino</option>
            </select>

            <select class="form-select me-2" [(ngModel)]="monedaDestinoFiltrar" id="monedaDestino"
                [(ngModel)]="transaccion.monedaDestino" name="monedaDestino" placeholder="Seleccione">
                <option value="">Seleccione: </option>
                <option value="USD">USD Dolares EEUU</option>
                <option value="EUR">EUR Euro</option>
                <option value="GBP">GBP Libra Esterlina</option>
                <option value="RUB">RUB Rublo ruso</option>
                <option value="JPY">JPY Yen</option>
                <option value="CNY">CNY Yuan Renminbi</option>
                <option value="AUD">AUD Dólar australiano</option>
                <option value="BTC">BTC Bitcoin</option>
                <option value="ARS">ARS Peso argentino</option>
            </select>

            <button type="button" class="btn btn-danger text-white ms-auto col-2"
                [disabled]="!monedaOrigenFiltrar || !monedaDestinoFiltrar" (click)="filtrarPorMoneda()">Filtrar</button>

        </form>
        <button type="button" class="btn btn-danger text-white ms-auto"
            [hidden]="monedaOrigenFiltrar=='' || monedaDestinoFiltrar==''" (click)="limpiar()">Limpiar</button>
    </div>
    <br><br>
    <button type="button" (click)="agregarTransaccion()" class="btn btn-danger text-white">Agregar Transaccion</button>
    <br><br>
    <div class="table-responsive">
        <table class="table table table-bordered table-light table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">ID Transaccion</th>
                    <th scope="col">Moneda Origen</th>
                    <th scope="col">Cantidad Origen</th>
                    <th scope="col">Moneda Destino</th>
                    <th scope="col">Cantidad Destino</th>
                    <th scope="col">Email Cliente</th>
                    <th scope="col">Tasa Conversion</th>
                    <th scope="col">Equivalencia Tasa Conversion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let div of transaccionss">
                    <th scope="row">{{ div._id }}</th>
                    <td>{{ div.monedaOrigen | uppercase}}</td>
                    <td>{{ div.cantidadOrigen | currency:'ARS':'symbol-narrow'}} </td>
                    <td>{{ div.monedaDestino | uppercase}}</td>
                    <td>{{ div.cantidadDestino | currency:'ARS':'symbol-narrow'}} </td>
                    <td>{{ div.emailCliente}}</td>
                    <td>{{ div.tasaConversion | percent}} </td>
                    <td>{{ div.cantidadOrigen | currency:'ARS':'symbol-narrow'}}{{ div.monedaOrigen | uppercase}} = {{
                        div.tasaConversion | currency:'ARS':'symbol-narrow'}}{{
                        div.monedaDestino | uppercase}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" (click)="agregarTransaccion()" class="btn btn-danger text-white">Agregar Transaccion</button>
    <br><br>
</div>