.letra3 {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.letra3 h3 {
	background-color: #0f228d;
	font-family: Arial Rounded MT Bold, serif, sans-serif;
	padding: 1rem;
	text-align: center;
	font-weight: bold;
	display: 7;
	color: white;
}