<div class="container">
    <footer>
        <div>
            Diseñado por Nieva Tatiana Valeria LU:3866 de Prog. y Servicios Web - Tiene todos los derechos                 reservados -2023
            <br><br>
            <a href="https://www.facebook.com/"><img src="../../../../assets/imagen/iconoFacebook.png" alt="Bootstrap" width="40" height="40"></a>
            <a href="https://www.instagram.com/"><img src="../../../../assets/imagen/iconoInstagram.png" alt="Bootstrap" width="40" height="40"></a>
            <a href="https://twitter.com/"><img src="../../../../assets/imagen/iconoTwiter.png" alt="Bootstrap" width="40" height="40"></a>
            <a href="https://whatsapp.com/"><img src="../../../../assets/imagen/iconowhatsapp.png"alt="Bootstrap" width="40" height="40"></a>
            <a href="https://youtube.com/"><img src="../../../../assets/imagen/iconoYoutube.png" alt="Bootstrap"  width="40" height="40"></a>
            <a href="https://mail.google.com/"><img src="../../../../assets/imagen/iconoEmail.png" alt="Bootstrap" width="40" height="40"></a>
        </div>
    </footer>
</div>