<div class="container">
    <br>
    <div class="row">
        <h3 class="col-12 text-center text-warning text-decoration-underline">Listado De Espectador </h3>
    </div>
    <button type="button" (click)="agregarEspectador()" class="btn btn-warning">Agregar Espectador</button>
    <br><br>
    <div class="table-responsive">
        <table class="table table table-bordered table-light table-striped">
            <thead>
                <!--apellido!: string;
    nombre!: string;
    dni!: string;
    email!: string;-->
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let espe of espectadoress">
                    <th scope="row">{{ espe._id }}</th>
                    <td>{{ espe.apellido | titlecase}}</td>
                    <td>{{ espe.nombre | titlecase}} </td>
                    <td>{{ espe.dni}}</td>
                    <td>{{ espe.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" (click)="agregarEspectador()" class="btn btn-warning">Agregar Espectador</button>
</div>
<br>