<div class="container">
    <header>
        <div class="imangen"
            style="background-image: url(../../../../assets/imagenP4/webService.png); background-size: 10%">
            <div class="contenido">
                <div class="letra">
                    <h3 class="display-4 text-black">Practica Web Service</h3>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="nav-link" [routerLink]="['producto']"><img
                            src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20" height="20">
                        Producto</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['producto-form/0']"><img
                                    src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20" height="20">
                                Producto Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['transaccion']"><img
                                    src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20" height="20">
                                Transaccion</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" [routerLink]="['transaccion-form/0']"><img
                                    src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20" height="20">
                                Transaccion Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['espectador']"><img
                                    src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20" height="20">
                                Espectador</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['espectador-form/0']"><img
                                    src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20" height="20">
                                Espectador Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['ticket']"><img
                                    src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20" height="20">
                                Ticket</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" [routerLink]="['ticket-form/0']"><img
                                    src="../../../../assets/imagenP4/cash-coin.svg" class="img" width="20" height="20">
                                Ticket Form</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>