<div class="container">
    <header>
        <div class="imangen"
            style="background-image: url(../../../../assets/imagen/frontend_backend.png); background-size: 10%">
            <div class="contenido">
                <div class="letra">
                    <h4 class="display-5 text-white">Practica Backend-Frontend</h4>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['producto']"><img src="" class="img" width="20"
                                    height="20">
                                Producto</a>
                        </li>
                    </ul>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['producto-form/0']"><img src="" class="img"
                                        width="20" height="20">
                                    Producto Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['transaccion']"><img src="" class="img" width="20"
                                        height="20">
                                    Transaccion</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" [routerLink]="['transaccion-form/0']"><img src="" class="img"
                                        width="20" height="20">
                                    Transaccion Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['espectador']"><img src="" class="img" width="20"
                                        height="20">
                                    Espectador</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['espectador-form/0']"><img src="" class="img"
                                        width="20" height="20">
                                    Espectador Form</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['ticket']"><img src="" class="img" width="20"
                                        height="20">
                                    Ticket</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" [routerLink]="['ticket-form/0']"><img src="" class="img" width="20"
                                        height="20">
                                    Ticket Form</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>